.navbar .nav-item .nav-link{
    color: white;
}
.main-header{
    background: url(../img/fondo.jpg);
    width: auto;
    background-size: cover;
    min-height:600px;
    position: relative;
}
.background{
    background: rgba(255, 255, 255, 0.226);
    width: 100%;
    height: 100%;
    position: absolute;
}